div.Overview {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

div.Overview > div.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
}

div.Overview > .Header > .Title {
  font-size: 28px;
  font-weight: 400;
  color: #0b3a5e;
  margin-right: 40px;
}
