div.Rundown {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

div.Rundown > div.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 8px 20px 8px;
}

div.Rundown > div.Header > .Title {
  font-size: 22px;
  font-weight: 400;
  color: #0b3a5e;
  margin-right: 40px;
  text-transform: uppercase;
}