.Select {
  box-sizing: border-box;
  margin: 8px;

  min-width: 300px;

  background: rgba(250, 250, 250, 1.0);
  transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  border-radius: 2px;
}

.Select:hover {
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* react-select overrides */
.Select > div:nth-child(1) { border: none; box-shadow: none }
.Select > div:nth-child(2) { border: none; box-shadow: none }

/* Because react-select is special and likes to invent spans where there should be none */
.Select > span:nth-child(1) { display: none }
.Select > div:nth-child(1) > div:nth-child(2) > span { display: none }
.Select > div:nth-child(2) > div:nth-child(2) > span { display: none }
