div.Pane {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px 32px 24px 32px;
  margin: 0px 8px 8px 8px;

  background: rgba(255, 255, 255, 1.0);
  transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  border-radius: 2px;
  min-width: 800px;
}

div.Pane:hover {
  background: rgba(250, 250, 250, 1.0);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}